.header{
    background: #afafaf;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.tagline{
    background: #efefef;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.skills{
    background: #aaa;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.skills ul{
    list-style: none;
}